{% extends "base.html" %}

{% block title %}Registrar Producto{% endblock %}

{% block content %}

<h1>Registrar Producto</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    <div>
        {{ form.nombre.label }}
        {{ form.nombre() }}
    </div>

    <div>
        {{ form.precio.label }}
        {{ form.precio() }}
    </div>

    <div>
        {{ form.stock.label }}
        {{ form.stock() }}
    </div>

    <div>
        {{ form.submit(class="btn") }}
    </div>
</form>

{% endblock %}