{% extends "base.html" %}

{% block title %}Registrar Proveedor{% endblock %}

{% block content %}

<h1>Registrar Proveedor</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    <div>
        {{ form.nombre.label }}
        {{ form.nombre() }}
    </div>

    <div>
        {{ form.correo.label }}
        {{ form.correo() }}
    </div>

    <div>
        {{ form.telefono.label }}
        {{ form.telefono() }}
    </div>

    <div>
        {{ form.empresa.label }}
        {{ form.empresa() }}
    </div>

    <div>
        {{ form.submit(class="btn") }}
    </div>
</form>

{% endblock %}