<nav class="navbar">
    <div class="navbar-container">
        <a href="{{ url_for('inicio') }}" class="logo">
            Sistema de Productos
        </a>

        <div class="nav-links">
            <a href="{{ url_for('inicio') }}">Inicio</a>
            <a href="{{ url_for('mostrar_productos') }}">Productos</a>
            <a href="{{ url_for('mostrar_clientes') }}">Clientes</a>
            <a href="{{ url_for('mostrar_proveedores') }}">Proveedores</a>
            <a href="{{ url_for('mostrar_facturacion') }}">Facturación</a>
        </div>
    </div>
</nav>